<!-- <ul class="daMenuList">
	<li class="daSmall daSale">30% Off</li>
	<li class="daNew daBig"><img src="{{ 'new.jpg' | asset_url }}" alt=""></li>
	<li class="daLookbook daBig"><img src="{{ 'lookbook.jpg' | asset_url }}" alt=""></li>
	<li class="daSmall daStylingOnline">Styling Online</li>
	<li class="daSmall daGallery"><img src="" alt=""></li>
	<li class="daMenuItem daBig"><img src="" alt=""></li>
</ul>  -->
<ul class="homeGrid">
{% for link in linklists.homepage.links %}
	{% case link.title %}
		{% when 'sale' %}
		{% capture content %} <p>30% Off</p> {% endcapture %}
		{% capture daClass %} class="grid__item large--three-tenths small--one-whole daSmall daSale" {% endcapture %}
		{% when 'new' %}
		{% capture content %}<img src="{{ 'new.jpg' | asset_url }}" alt="" /><div class="holder"><div class="new">New</div><img class='triangleWhite' src="{{ 'triangleWhite.png' | asset_url }}" /></div>{% endcapture %}
		{% capture daClass %} class="grid__item grid__item large--seven-tenths small--one-whole daBig daImg1 daNew" {% endcapture %}
		{% when 'lookbook' %}
		{% capture content %}<img src="{{ 'lookbook.jpg' | asset_url }}" alt=""><div class="holder"><div class="lookbook">Lookbook</div><img class='triangleWhite' src="{{ 'triangleWhite.png' | asset_url }}" /></div>{% endcapture %}
		{% capture daClass %} class="grid__item large--seven-tenths small--one-whole daBig daLookbook daImg2" {% endcapture %}
		{% when 'styling online' %}
		{% assign content = '<p>Styling</p><p> Online</p>' %}
		{% capture daClass %} class="grid__item large--three-tenths small--one-whole daSmall daStylingOnline " {% endcapture %}
		{% when 'gallery' %}
		{% capture content %}<img src="{{ 'gallery.jpg' | asset_url }}" alt=""><div class="holder"><div class="gallery">Gallery</div><img class='triangleBlack' src="{{ 'triangle.png' | asset_url }}" /></div>{% endcapture %}
		{% capture daClass %} class="grid__item large--three-tenths small--one-whole daSmall daGallery clear" {% endcapture %}
		{% when 'blog' %}
		{% capture content %}<img src="{{ 'blog.jpg' | asset_url }}" alt="">{% endcapture %}
		{% capture daClass %} class="grid__item large--seven-tenths small--one-whole daBig daBlog daImg3" {% endcapture %}
	{% endcase %}
	
	<li {{daClass}} > 


<!-- {{ link.title }} -->
	
	<a href="{{ link.url }}" class="">{{ content }}</a></li>
	
{% endfor %}
</ul>

<div class="hid"><span>LOADING...</span></div>

<!-- <div class="grid">
	<div class="grid__item">
		<div class="grid__item">
			<div class="grid row1">
			<div class="grid__item large--three-tenths small--one-whole daSmall daSale">
				<p>30% Off</p>
			</div>
			<div class="grid__item large--seven-tenths small--one-whole daBig">
				<img src="{{ 'new.jpg' | asset_url }}" alt="">
			
		</div>
	</div>
</div>
<div class="grid__item">
	<div class="grid row2">

			<div class="grid__item large--seven-tenths daNew">
				<img src="{{ 'new.jpg' | asset_url }}" alt="">
			
		</div>
		<div class="grid__item large--three-tenths daSmall daSale">
				<p>Styling Online</p>
			</div>
	</div>
</div>
<div class="grid__item">
	<div class="grid__item">
		<div class="grid row3"><div class="grid__item large--three-tenths daSmall daSale">
				<p>30% Off</p>
			</div>
			<div class="grid__item large--seven-tenths">
				<img src="{{ 'new.jpg' | asset_url }}" alt="">
			
		</div>
	</div>
	</div>
</div>
</div> -->